


<nav class="navbar navbar-light bg-yellow">
    <div class="container-fluid">
        <h1>Teacher List</h1>
    
    <div class="d-flex">
        <button type="button"  data-bs-toggle="modal" data-bs-target="#exampleModal"
          class="btn btn-success">Add Teacher</button>
          
    </div>
  </div>
  </nav>
  
  <table class="table mt-3">
      <thead>
          <tr>
          <th scope="col">Id </th>
          <th scope="col">First name </th>
          <th scope="col">Last name </th>
          <th scope="col">Age </th>
          <th scope="col">Email id </th>
          <th scope="col">Class </th>
      </tr>
      </thead>
  
  <tbody>
      <tr>
          <td>1</td>
          <td>Ram</td>
          <td>Roy</td>
          <td>23</td>
          <td>abc@gmail.com</td>
          <td>3</td>
            <button class="btn btn-info">Update</button>
            <button class="btn btn-danger mx-3">Delete</button>
      </tr>
      <tr>
          <td>2</td>
          <td>Shyam</td>
          <td>Roy</td>
          <td>46</td>
          <td>abc@gmail.com</td>
          <td>4</td>
            <button class="btn btn-info">Update</button>
            <button class="btn btn-danger mx-3">Delete</button>
      </tr>
      <tr>
          <td>3</td>
          <td>Renu</td>
          <td>Roy</td>
          <td>24</td>
          <td>abc@gmail.com</td>
          <td>6</td>
          <button  data-bs-toggle="modal" data-bs-target="#exampleModal1"
          class="btn btn-info">update</button>
            <button class="btn btn-danger mx-3">Delete</button>
      </tr>
      <tr>
          <td>4</td>
          <td>Sonu</td>
          <td>Ray</td>
          <td>8</td>
          <td>abc@gmail.com</td>
          <td>3</td>
          <button  data-bs-toggle="modal" data-bs-target="#exampleModal1"
          class="btn btn-info">update</button>
            <button class="btn btn-danger mx-3">Delete</button>
      </tr>
      <tbody>
          <tr>
              <td>5</td>
              <td>Sachin</td>
              <td>Bansal</td>
              <td>13</td>
              <td>sachin@gmail.com</td>
              <td>7</td>
             
                  <button  data-bs-toggle="modal" data-bs-target="#exampleModal1"
                  class="btn btn-info">update</button>
                  <button  data-bs-toggle="modal" data-bs-target="#exampleModal2"
                  class="btn btn-info">Delete</button>
                <!-- <button class="btn btn-info mx-3">Delete</button> -->
          </tr>
           <!-- <tr *ngFor="let row of TeacherData"> 
              <td>{{row.id}}</td>
              <td>{{row.firstName}}</td>
              <td>{{row.lastName}}</td>
              <td>{{row.age}}</td>
              <td>{{row.emailid}}</td>
              <td>{{row.class}}</td> -->
             
                  <button  data-bs-toggle="modal" data-bs-target="#exampleModal1"
                  class="btn btn-info">update</button>
                  <!-- <button (click)="deleteTeacher(row)"  data-bs-toggle="modal" data-bs-target="#exampleModal2"
                  class="btn btn-info">Delete</button> -->
          <!-- </tr>  -->
  </tbody>
  
  </table>
  
   <!-- Modal -->
   <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Update Teacher Details</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <form>
                  <div class="mb-3">
                      <label for="Id1" class="form-label">Id</label>
                      <input type="number" class="form-control" id="Id1">
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">First Name</label>
                      <input type="text" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Last Name</label>
                      <input type="text" class="form-control" id="exampleInputPassword1">
                    </div>
                      
                  <div class="mb-3">
                      <label for="Mobile1" class="form-label">Age 18-58</label>
                      <input type="number" class="form-control" id="Mobile1">
                    </div>
  
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email ID</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text">Enter Valid Email</div>
                  </div>
                 
                  <div class="mb-3">
                      <label for="Mobile1" class="form-label">Class</label>
                      <input type="number" class="form-control" id="Mobile1">
                    </div>
  
                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Update</button>
          </div>
        </div>
      </div>
    </div>
  
    
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Teacher Details</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <form>
                  <div class="mb-3">
                      <label for="Id1" class="form-label">Id</label>
                      <input type="number" class="form-control" id="Id1">
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">First Name</label>
                      <input type="text" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Last Name</label>
                      <input type="text" class="form-control" id="exampleInputPassword1">
                    </div>
                      
                  <div class="mb-3">
                      <label for="Mobile1" class="form-label">Age 18-58</label>
                      <input type="number" class="form-control" id="Mobile1">
                    </div>
  
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email ID</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text">Enter Valid Email</div>
                  </div>
                 
                  <div class="mb-3">
                      <label for="Mobile1" class="form-label">Class</label>
                      <input type="number" class="form-control" id="Mobile1">
                    </div>
  
                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Add</button>
          </div>
        </div>
      </div>
    </div>
  
    <div class="modal" tabindex="-1" id="exampleModal2">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Delete Teacher Details</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>Here are teacher details.</p>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-primary">Yes</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
            
          </div>
        </div>
      </div>
    </div>